{% extends '::adminBase.html.twig' %}

{% block body -%}
    <h1>Contact</h1>

    <table class="adminTab">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Information</th>
                <td>{{ entity.information }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('secured_contact') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('secured_contact_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
