{% extends '::adminBase.html.twig' %}

{% block body -%}
	<h1>Créer une rubrique</h1>

	{{ form_start(form) }}

	{{ form_errors(form.nom) }}
	{{ form_label(form.nom)  }}
	{{ form_widget(form.nom) }}<br />

	{{ form_errors(form.adresse) }}
	Lieu
	{{ form_widget(form.adresse) }}<br />

	{{ form_widget(form.submit) }}

	{{ form_end(form) }}

        <ul class="record_actions">
		<li>
			<a href="{{ path('secured_rubrique') }}">
				Retour à la liste des rubriques
			</a>
		</li>
	</ul>
{% endblock %}
