{% extends '::adminBase.html.twig' %}

{% block body -%}
    <h1>Rubrique</h1>

    <table class="adminTab">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ entity.commentaire }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifié le:</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('secured_rubrique') }}">
            Retour à la liste des rubriques
        </a>
    </li>
    <li>
        <a href="{{ path('secured_rubrique_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
