{% extends '::adminBase.html.twig' %}

{% block body -%}
    <h1>Edition d'un contact</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form.titre) }}
    {{ form_widget(edit_form.titre) }}
    {{ form_errors(edit_form.information) }}
    {{ form_widget(edit_form.information) }}
    {{ form_widget(edit_form.submit) }}
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('secured_contact') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}