{% extends app.user ? "::adminBase.html.twig" : "::frontBase.html.twig" %}

{% block javascript %}
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAYsGw-v525t8TaFr2BlJ3WmodjN4D1Vpw&sensor=true"></script>
    <script src="{{ asset('bundles/batiment/js/dojo/dojo.js') }}" type="text/javascript"
            data-dojo-config="async: true"></script>
    <script type="text/javascript" src="{{ asset('bundles/batiment/js/mapBuilder.js') }}"></script>
{% endblock %}

{% block body %}


    <div class="page-contact" >

        <div class="page-contact-information row">
            <div class="col page-contact-information-element page-contact-information-element-left">
                <img src="{{ asset('bundles/batiment/images/02.png') }}" alt="coordonnées" class="page-contact-information-image" />
            </div>
            <div class="col page-contact-information-element">
            {% for entity in entities %}
                <section class="row">
                    <aside class="col "><span class="tab-coord-libelle">{{ entity.titre }}</span>&nbsp;{{ entity.information }}</aside>
                </section>
            {% endfor %}
            </div>
        </div>
        <div class="page-contact-map" id="map">

        </div>
    </div>
{% endblock %}



